body {
}

#gallery-wrapper {
	text-align: center;
	padding: 10px;
}

#gallery-wrapper h1 {
	font: 75px 'Asset', serif;	
	text-align: center;
	color:blue;
}

.image {
	display:inline-block;
	width:30%;
	border-radius: 15px;
	margin: 5px;
	float:left;
}

.image img {
	position: relative;
    /*float: left;*/
    width:  100%;
    height: 300px;
}
.image .one {
	float:left;
}

.portrait img {
	height:640px;
}

.wide-image {
	display: block;
	margin-top: 10px;
}

.wide-image img {
	width: 100%;
	height: 300px;
}
.landscape {

}

.extra-stuff {
	line-height: 167px;
	vertical-align: middle;
	display:inline-block;
	width:30%;
	height: 336px;
	border-radius: 15px;
	background-color: #f44;
	float:left;
	color:white;
	font-size:28px;
}
.caption {
	background-color: #f44;
	color:white;
	font-size:28px;
}

@media (max-width: 1000px) and (min-width: 601px){
	.image {
		width:47%;
	}
	.extra-stuff {
		width:47%;
	}
}

@media screen and (max-width: 600px){
	.image {
		width:95%;
	}
	.extra-stuff {
		width:95%;
	}
}